<div class="flex flex-col md:flex-row items-start  mx-auto font-mono">
  <app-sidebar class="w-full md:w-1/5"></app-sidebar>
  
  <div class="container mx-auto p-4 md:w-3/4 "> <!-- Contenedor para el contenido -->
    <div class="container flex-row">
      <h1 class="text-3xl mb-2 font-bold mt-10 ml-14">Registro</h1>
      <h2 class="text-2xl mb-4 text-left ml-14">Detalles del Trabajador</h2>

    </div>
    
    <div class="flex flex-col md:flex-row md:justify-between flex-wrap"> <!-- Cambiado a flex-col en pantallas pequeñas -->
      <!-- Recuadro con los detalles del trabajador -->
      <div class="bg-white p-4 rounded shadow w-full md:w-1/2 mb-4"> <!-- Ajustar para pantallas pequeñas -->
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">Nombre:</label>
          <span class="text-gray-800">{{ trabajador.nombre }}</span>
        </div>
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">Apellido:</label>
          <span class="text-gray-800">{{ trabajador.apellido }}</span>
        </div>
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">RUT:</label>
          <span class="text-gray-800">{{ trabajador.rut }}</span>
        </div>
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">Edad:</label>
          <span class="text-gray-800">{{ trabajador.edad }} años</span>
        </div>
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">Dirección:</label>
          <span class="text-gray-800">{{ trabajador.direccion }}</span>
        </div>
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">Fecha de Contratación:</label>
          <span class="text-gray-800">{{ trabajador.fechaContratacion | date: 'dd/MM/yyyy' }}</span>
        </div>
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">Teléfono:</label>
          <span class="text-gray-800">{{ trabajador.telefono }}</span>
        </div>
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">Email:</label>
          <span class="text-gray-800">{{ trabajador.email }}</span>
        </div>
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">Hospedaje:</label>
          <select [(ngModel)]="trabajador.hospedaje" class="border border-gray-300 p-2 w-2/6">
            <option *ngFor="let hospedaje of hospedajes" [value]="hospedaje">{{ hospedaje }}</option>
          </select>
        </div>
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">Cargo:</label>
          <select [(ngModel)]="trabajador.cargo" class="border border-gray-300 p-2 w-2/6">
            <option *ngFor="let cargo of cargos" [value]="cargo">{{ cargo }}</option>
          </select>
        </div>
        <div class="mb-4 flex justify-between">
          <label class="block text-gray-700 font-bold">Faena:</label>
          <select [(ngModel)]="trabajador.faena" class="border border-gray-300 p-2 w-2/6">
            <option *ngFor="let faena of faenas" [value]="faena.nombre">{{ faena.nombre }}</option>
          </select>
        </div>
        <div class="flex justify-start mt-4">
          <button class="bg-gray-800 text-white p-2 rounded">Ingresar a Faena</button>
        </div>
      </div>
  
      <!-- Recuadro para escanear trabajador y mostrar imagen -->
      <div class="bg-white p-4 rounded shadow w-full md:w-1/3 mb-4">
        <div class="flex flex-col items-center">
          <button class="bg-gray-800 text-white p-2 rounded mb-2">Escanear Trabajador</button>
          <img [src]="trabajador.fotoUrl" alt="{{ trabajador.nombre }} {{ trabajador.apellido }}" class="rounded" style="width: 700px; height: 320px;" />
          <label class="block text-gray-700 mt-2">¿El trabajador no existe?</label>
          <button class="bg-gray-800 text-white p-2 rounded mt-2" (click)="openModal()">Agregar Trabajador</button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>



<!-- Modal -->
<div
  class="fixed z-10 inset-0 overflow-y-auto font-mono"
  *ngIf="isModalOpen"
  (click)="closeModal()"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true">

  <!-- Overlay -->
  <div class="fixed inset-0 bg-black bg-opacity-50"></div>

  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden w-1/3 transform transition-transform duration-300"
      [ngClass]="isModalOpen ? 'modal slide-in' : 'modal slide-out'"
      (click)="$event.stopPropagation()" >

      <div class="p-4 border-b bg-gray-800 relative">
        <h3 class="text-lg font-medium text-white" id="modal-title">
          Llenar datos Trabajador
        </h3>
        <button (click)="closeModal()" class="absolute top-2 right-4 text-white focus:outline-none text-2xl p-2">
          &times; <!-- Símbolo de X -->
        </button>
      </div>
      <div class="container mx-auto p-4 ">
        <form (ngSubmit)="submitForm()">
          <div class="grid grid-cols-2 gap-4">
            <div class="mb-4">
              <label class="block text-gray-700">Nombre:</label>
              <input
                type="text"
                [(ngModel)]="nombre"
                name="nombre"
                required
                class="border border-gray-300 p-2 w-full"
              />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700">Apellido:</label>
              <input
                type="text"
                [(ngModel)]="apellido"
                name="apellido"
                required
                class="border border-gray-300 p-2 w-full"
              />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700">RUT:</label>
              <input
                type="text"
                [(ngModel)]="rut"
                name="rut"
                required
                class="border border-gray-300 p-2 w-full"
              />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700">Edad:</label>
              <input
                type="number"
                [(ngModel)]="edad"
                name="edad"
                required
                class="border border-gray-300 p-2 w-full"
              />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700">Dirección:</label>
              <input
                type="text"
                [(ngModel)]="direccion"
                name="direccion"
                required
                class="border border-gray-300 p-2 w-full"
              />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700">Fecha de Contratación:</label>
              <input
                type="date"
                [(ngModel)]="fechaContratacion"
                name="fechaContratacion"
                required
                class="border border-gray-300 p-2 w-full"
              />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700">Teléfono:</label>
              <input
                type="tel"
                [(ngModel)]="telefono"
                name="telefono"
                required
                class="border border-gray-300 p-2 w-full"
              />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700">Email:</label>
              <input
                type="email"
                [(ngModel)]="email"
                name="email"
                required
                class="border border-gray-300 p-2 w-full"
              />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700">Cargo:</label>
              <select
                [(ngModel)]="cargo"
                name="cargo"
                required
                class="border border-gray-300 p-2 w-full">
                <option *ngFor="let cargo of cargos" [value]="cargo">
                  {{ cargo }}
                </option>
              </select>
            </div>
          </div>
          <div class="flex justify-end mt-4">
            <button type="submit" class="bg-gray-800 text-white p-2 rounded" disabled>
              Escanear Trabajador
            </button>
            <div class="ml-3">
              <button type="submit" class="bg-gray-800 text-white p-2 rounded">
                Guardar Trabajador
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


