/* Añade esto a tu archivo CSS */
@keyframes slide-in {
    0% {
      transform: translateY(-100%); /* Comienza fuera de la vista */
      opacity: 0; /* Comienza invisible */
    }
    100% {
      transform: translateY(0); /* Termina en su posición original */
      opacity: 1; /* Termina visible */
    }
  }
  
  @keyframes slide-out {
    0% {
      transform: translateY(0); /* Comienza en su posición original */
      opacity: 1; /* Comienza visible */
    }
    100% {
      transform: translateY(-100%); /* Sale de la vista hacia arriba */
      opacity: 0; /* Termina invisible */
    }
  }
  
  .modal {
    animation-duration: 0.5s; /* Duración de la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
  }
  
  .slide-in {
    animation-name: slide-in; /* Aplica la animación de entrada */
  }
  
  .slide-out {
    animation-name: slide-out; /* Aplica la animación de salida */
  }
  