<div
  *ngIf="!loginDisplay"
  class="relative flex flex-col items-center justify-center min-h-screen bg-gray-100"
>
  <img
    src="img/Foro-aleman-tematica.jpg"
    alt="Fondo"
    class="absolute inset-0 object-cover w-full h-full opacity-70"
  />
  <h2 class="text-3xl font-mono font-bold relative z-10 text-black">
    Gestión Integral de Faenas
  </h2>
  <img
    src="img/img9 (1).png"
    alt="Imagen de Login"
    class="w-100 h-100 opacity-90"
  />
  <button
    (click)="login()"
    class="bg-gray-800 text-white font-semibold font-mono py-2 px-4 rounded transition duration-300 relative z-10 justify-items-end"
  >
    Iniciar Sesión
  </button>
</div>
<router-outlet />
<!-- <app-layout/> -->
